table {
  border: thin solid black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
  text-align: left;
  font-size: 14px;
}

input.enviar,
input.limpar {
  background-color: lightgreen;
}
