table {
  text-transform: uppercase;
  font-family: Courier;
  font-size: 20px;
  text-align: center;
}

.azul {
  background-color: blue;
}

.verde {
  background-color: green;
}

.rosa {
  background-color: palevioletred;
}

.preto {
  background-color: black;
}

.vermelho {
  background-color: red;
}
